@font-face {
    font-family: 'SFCompactDisplay';
    src: url('https://raw.githubusercontent.com/PR0LAPSE/sfwebfonts/main/SFCompactDisplay/SFCompactDisplay-Black.woff2') format(woff2);
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'SFCompactDisplay';
    src: url('https://raw.githubusercontent.com/PR0LAPSE/sfwebfonts/main/SFCompactDisplay/SFCompactDisplay-Bold.woff2') format(woff2);
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'SFCompactDisplay';
    src: url('https://raw.githubusercontent.com/PR0LAPSE/sfwebfonts/main/SFCompactDisplay/SFCompactDisplay-Heavy.woff2') format(woff2);
    font-weight: 800;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'SFCompactDisplay';
    src: url('https://raw.githubusercontent.com/PR0LAPSE/sfwebfonts/main/SFCompactDisplay/SFCompactDisplay-Light.woff2') format(woff2);
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'SFCompactDisplay';
    src: url('https://raw.githubusercontent.com/PR0LAPSE/sfwebfonts/main/SFCompactDisplay/SFCompactDisplay-Medium.woff2') format(woff2);
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'SFCompactDisplay';
    src: url('https://raw.githubusercontent.com/PR0LAPSE/sfwebfonts/main/SFCompactDisplay/SFCompactDisplay-Regular.woff2') format(woff2);
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'SFCompactDisplay';
    src: url('https://raw.githubusercontent.com/PR0LAPSE/sfwebfonts/main/SFCompactDisplay/SFCompactDisplay-Semibold.woff2') format(woff2);
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'SFCompactDisplay';
    src: url('https://raw.githubusercontent.com/PR0LAPSE/sfwebfonts/main/SFCompactDisplay/SFCompactDisplay-Semibold.woff2') format(woff2);
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'SFCompactDisplay';
    src: url('https://raw.githubusercontent.com/PR0LAPSE/sfwebfonts/main/SFCompactDisplay/SFCompactDisplay-Thin.woff2') format(woff2);
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'SFCompactDisplay';
    src: url('https://raw.githubusercontent.com/PR0LAPSE/sfwebfonts/main/SFCompactDisplay/SFCompactDisplay-Ultralight.woff2') format(woff2);
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'SFCompactDisplay';
    src: url('https://raw.githubusercontent.com/PR0LAPSE/sfwebfonts/main/SFCompactDisplay/SFCompactDisplay-Ultralight.woff2') format(woff2);
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}
